[Unit]
Description=ValheimDS World Backup
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/valheimds backup
User=valheimds
Group=valheimds

[Install]
WantedBy=multi-user.target
